@model libraryApp.Models.libraryItems.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pageCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pageCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isCheckedOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isCheckedOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Checkout" asp-controller="LoggedInUser" asp-route-id="@Model.bookId" >Checkout</a>
    @*@Html.ActionLink("Checkout", "Checkout", "LoggedInUser", new {id = Model.bookId })*@ |
    @*<a asp-action="Checkout" asp-route-id="@Model.bookId">Checkout</a>*@ |
    <a asp-action="Index">Back to List</a>
</div>
