@model IEnumerable<libraryApp.Models.libraryItems.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<h1>User ID Pulled from cookie is between the horizontal lines</h1>
<hr />
<h1>@ViewBag.userId</h1>
<hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCheckedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.summary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.summary)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.bookId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.bookId">This doesn't do anything yet'</a>
                @*<a asp-action="Delete" asp-route-id="@item.bookId">Delete</a*@>
            </td>
        </tr>
}
    </tbody>
</table>
